In [0]:
!pip install requests
!pip install tabulate
!pip install "colorama>=0.3.8"
!pip install future
!pip install -f http://h2o-release.s3.amazonaws.com/h2o/latest_stable_Py.html h2o

Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (2.21.0)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests) (2019.11.28)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests) (2.8)
Requirement already satisfied: tabulate in /usr/local/lib/python3.6/dist-packages (0.8.7)
Collecting colorama>=0.3.8
  Downloading https://files.pythonhosted.org/packages/c9/dc/45cdef1b4d119eb96316b3117e6d5708a08029992b2fee2c143c7a0a5cc5/colorama-0.4.3-py2.py3-none-any.whl
Installing collected packages: colorama
Successfully installed colorama-0.4.3
Requirement already satisfied: future in /usr/local/lib/python3.6/dist-packages (0.16.0)
Looking in links: http://h2o-release.s3.amazonaws.com/h2o/latest_stable_Py.html
WARNING: The repository located at h2o-release.s3.amazonaws.com is not a trusted or secure host and is being ignored. If this repository is available via HTTPS we recommend you use HTTPS instead, otherwise you may silence this warning and allow it anyway with '--trusted-host h2o-release.s3.amazonaws.com'.
Collecting h2o
  Downloading https://files.pythonhosted.org/packages/10/eb/c894ff86623faf179d5a925b41ba8ca6eeb5ac7db824597ff00ace7b3cd4/h2o-3.28.1.2.tar.gz (126.2MB)
     |████████████████████████████████| 126.2MB 97kB/s
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from h2o) (2.21.0)
Requirement already satisfied: tabulate in /usr/local/lib/python3.6/dist-packages (from h2o) (0.8.7)
Requirement already satisfied: future in /usr/local/lib/python3.6/dist-packages (from h2o) (0.16.0)
Requirement already satisfied: colorama>=0.3.8 in /usr/local/lib/python3.6/dist-packages (from h2o) (0.4.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->h2o) (2019.11.28)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->h2o) (1.24.3)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->h2o) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->h2o) (3.0.4)
Building wheels for collected packages: h2o
  Building wheel for h2o (setup.py) ... done
  Created wheel for h2o: filename=h2o-3.28.1.2-py2.py3-none-any.whl size=126306247 sha256=9481246190a7d8b8f9effc5fd9b906d3fff3e19b9076c9d7d3c4dfa4adb865d1
  Stored in directory: /root/.cache/pip/wheels/18/3c/ca/07a89a0183a77f66ad2fac339e16ba5f943dde887e9a1cac18
Successfully built h2o
Installing collected packages: h2o
Successfully installed h2o-3.28.1.2

In [0]:
import pandas as pd
import numpy as np
import h2o
from h2o.estimators.random_forest import H2ORandomForestEstimator
from imblearn.over_sampling import SMOTE
from sklearn.model_selection import train_test_split

/usr/local/lib/python3.6/dist-packages/sklearn/externals/six.py:31: FutureWarning: The module is deprecated in version 0.21 and will be removed in version 0.23 since we've dropped support for Python 2.7. Please rely on the official version of six (https://pypi.org/project/six/).
  "(https://pypi.org/project/six/).", FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:144: FutureWarning: The sklearn.neighbors.base module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.neighbors. Anything that cannot be imported from sklearn.neighbors is now part of the private API.
  warnings.warn(message, FutureWarning)

In [0]:
from google.colab import files
uploaded = files.upload()

import io
data = pd.read_csv(io.BytesIO(uploaded['cleaned_data_reduced_feats.csv']))

Saving cleaned_data_reduced_feats.csv to cleaned_data_reduced_feats.csv

In [0]:
cont_columns = ['Start_Lat', 'Start_Lng', 'Temperature(F)', 'Humidity(%)', 'Pressure(in)', 'Visibility(mi)', 'Wind_Speed(mph)']

for c in data.columns:
    if c not in cont_columns:
        data[c] = data[c].astype('category')

In [0]:
#Splitting into training and validation sets
feats = data.drop('Severity', axis = 1)
target = data['Severity']

x_train, x_validate, y_train, y_validate = train_test_split(feats, target, random_state = 11, test_size = .4)

In [0]:
#Seeing results for synthetically balancing minority class samples
sm = SMOTE(random_state = 11, n_jobs = -1, sampling_strategy = {1 : 250000, 2 : 420000, 3: 400000, 4: 400000})

x_train_res, y_train_res = sm.fit_resample(x_train, y_train)

/usr/local/lib/python3.6/dist-packages/imblearn/utils/_validation.py:257: UserWarning: After over-sampling, the number of samples (420000) in class 2 will be larger than the number of samples in the majority class (class #2 -> 405785)
  n_samples_majority))
/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)

In [0]:
h2o.init(nthreads = -1)

Checking whether there is an H2O instance running at http://localhost:54321 ..... not found.
Attempting to start a local H2O server...
  Java Version: openjdk version "11.0.6" 2020-01-14; OpenJDK Runtime Environment (build 11.0.6+10-post-Ubuntu-1ubuntu118.04.1); OpenJDK 64-Bit Server VM (build 11.0.6+10-post-Ubuntu-1ubuntu118.04.1, mixed mode, sharing)
  Starting server from /usr/local/lib/python3.6/dist-packages/h2o/backend/bin/h2o.jar
  Ice root: /tmp/tmp8rxta7e5
  JVM stdout: /tmp/tmp8rxta7e5/h2o_unknownUser_started_from_python.out
  JVM stderr: /tmp/tmp8rxta7e5/h2o_unknownUser_started_from_python.err
  Server is running at http://127.0.0.1:54321
Connecting to H2O server at http://127.0.0.1:54321 ... successful.

--------------------------  ------------------------------------------------------------------
H2O cluster uptime:         02 secs
H2O cluster timezone:       Etc/UTC
H2O data parsing timezone:  UTC
H2O cluster version:        3.28.1.2
H2O cluster version age:    9 days
H2O cluster name:           H2O_from_python_unknownUser_fgd0g5
H2O cluster total nodes:    1
H2O cluster free memory:    2.938 Gb
H2O cluster total cores:    2
H2O cluster allowed cores:  2
H2O cluster status:         accepting new members, healthy
H2O connection url:         http://127.0.0.1:54321
H2O connection proxy:       {'http': None, 'https': None}
H2O internal security:      False
H2O API Extensions:         Amazon S3, XGBoost, Algos, AutoML, Core V3, TargetEncoder, Core V4
Python version:             3.6.9 final
--------------------------  ------------------------------------------------------------------

In [0]:
y_train_res = pd.DataFrame(y_train_res)
y_validate = pd.DataFrame(y_validate)

In [0]:
h2o_res_train = h2o.H2OFrame(x_train_res)
h2o_res_target = h2o.H2OFrame(y_train_res)
h2o_valid = h2o.H2OFrame(x_validate)
h2o_valid_target = h2o.H2OFrame(y_validate)

Parse progress: |█████████████████████████████████████████████████████████| 100%
Parse progress: |█████████████████████████████████████████████████████████| 100%
Parse progress: |█████████████████████████████████████████████████████████| 100%
Parse progress: |█████████████████████████████████████████████████████████| 100%

In [0]:
#Ensuring columns have the same names and categorical columns are encoded as such
h2o_res_train.columns = list(feats.columns)
h2o_res_target.columns = ['Severity']

h2o_res_target['Severity'] = h2o_res_target['Severity'].asfactor()
h2o_valid_target['Severity'] = h2o_valid_target['Severity'].asfactor()

#All these have the same column names
for c in h2o_res_train.columns:
  if c not in cont_columns:
    h2o_res_train[c] = h2o_res_train[c].ascharacter().asfactor()
    h2o_valid[c] = h2o_valid[c].asfactor()

In [0]:
train_final = h2o_res_train
valid_final = h2o_valid

#Need to put the target column with the data for how h2o operates
train_final['Severity'] = h2o_res_target
valid_final['Severity'] = h2o_valid_target

In [0]:
rf_res_1 = H2ORandomForestEstimator(ntrees = 50, max_depth = 10, categorical_encoding = 'enum', nfolds = 4)

features = list(train_final.columns)
features.remove('Severity')

rf_res_1.train(x = features, y = 'Severity', training_frame = train_final, validation_frame = valid_final)

drf Model Build progress: |███████████████████████████████████████████████| 100%

In [0]:
rf_res_1

Model Details
=============
H2ORandomForestEstimator :  Distributed Random Forest
Model Key:  DRF_model_python_1585279050703_1


Model Summary:

     number_of_trees  ...  max_leaves  mean_leaves
0               50.0  ...       741.0      478.005

[1 rows x 10 columns]

ModelMetricsMultinomial: drf
** Reported on train data. **

MSE: 0.14950191817155745
RMSE: 0.38665477906209494
LogLoss: 0.47942142474241317
Mean Per-Class Error: 0.1475882738095238

Confusion Matrix: Row labels: Actual class; Column labels: Predicted class

          1         2         3         4     Error                 Rate
0  220600.0   27142.0     772.0    1486.0  0.117600     29,400 / 250,000
1    9041.0  388274.0   16888.0    5797.0  0.075538     31,726 / 420,000
2    1197.0   17442.0  281900.0   99461.0  0.295250    118,100 / 400,000
3     548.0     822.0   39416.0  359214.0  0.101965     40,786 / 400,000
4  231386.0  433680.0  338976.0  465958.0  0.149668  220,012 / 1,470,000

Top-4 Hit Ratios:

   k  hit_ratio
0  1   0.850332
1  2   0.981572
2  3   0.999015
3  4   1.000000

ModelMetricsMultinomial: drf
** Reported on validation data. **

MSE: 0.1389276255612726
RMSE: 0.37272996332636393
LogLoss: 0.46313267856003537
Mean Per-Class Error: 0.4357840975814061

Confusion Matrix: Row labels: Actual class; Column labels: Predicted class

        1         2         3        4     Error              Rate
0     9.0     186.0       5.0      0.0  0.955000         191 / 200
1  1729.0  253704.0   10817.0   3760.0  0.060390  16,306 / 270,010
2    76.0   10763.0   99766.0  24351.0  0.260752  35,190 / 134,956
3     0.0      91.0     574.0    759.0  0.466994       665 / 1,424
4  1814.0  264744.0  111162.0  28870.0  0.128759  52,352 / 406,590

Top-4 Hit Ratios:

   k  hit_ratio
0  1   0.871241
1  2   0.961976
2  3   0.999577
3  4   1.000000

ModelMetricsMultinomial: drf
** Reported on cross-validation data. **

MSE: 0.1482582181076602
RMSE: 0.38504313798282425
LogLoss: 0.4767339207726279
Mean Per-Class Error: 0.145898

Confusion Matrix: Row labels: Actual class; Column labels: Predicted class

          1         2         3         4     Error                 Rate
0  220572.0   27401.0     699.0    1328.0  0.117712     29,428 / 250,000
1    7387.0  389907.0   16883.0    5823.0  0.071650     30,093 / 420,000
2    1043.0   17534.0  282390.0   99033.0  0.294025    117,610 / 400,000
3     508.0     790.0   38784.0  359918.0  0.100205     40,082 / 400,000
4  229510.0  435632.0  338756.0  466102.0  0.147764  217,213 / 1,470,000

Top-4 Hit Ratios:

   k  hit_ratio
0  1   0.852236
1  2   0.981912
2  3   0.999140
3  4   1.000000

Cross-Validation Metrics Summary:

                                  mean  ...  cv_3_valid  cv_4_valid
0                 accuracy    0.852236  ...   0.8513568   0.8524157
1                      err  0.14776401  ...  0.14864317  0.14758432
2                err_count    54303.25  ...     54628.0     54261.0
3                  logloss   0.4767339  ...  0.47787818   0.4763411
4      max_per_class_error  0.29402748  ...   0.2919163  0.29428214
5  mean_per_class_accuracy   0.8541011  ...    0.852916   0.8542705
6     mean_per_class_error  0.14589886  ...    0.147084   0.1457295
7                      mse  0.14825821  ...  0.14863579   0.1481148
8                       r2  0.86678946  ...   0.8664023   0.8669213
9                     rmse    0.385043  ...  0.38553312  0.38485685

[10 rows x 7 columns]

Scoring History:

               timestamp  ... validation_logloss  validation_classification_error
0    2020-03-27 04:04:52  ...                NaN                              NaN
1    2020-03-27 04:05:07  ...           0.457097                         0.146135
2    2020-03-27 04:05:28  ...           0.455822                         0.136865
3    2020-03-27 04:06:02  ...           0.458930                         0.133695
4    2020-03-27 04:06:59  ...           0.463128                         0.131017
5    2020-03-27 04:08:31  ...           0.464575                         0.129720
6    2020-03-27 04:10:46  ...           0.463133                         0.128759

[7 rows x 10 columns]

Variable Importances:

          variable  relative_importance  scaled_importance  percentage
0   Interstate_Hwy         6.663538e+06           1.000000    0.319397
1     road_blocked         2.640418e+06           0.396249    0.126561
2             Side         1.940091e+06           0.291150    0.092993
3        State_Hwy         1.920443e+06           0.288202    0.092051
4   Traffic_Signal         1.450231e+06           0.217637    0.069513
5     Pressure(in)         8.425494e+05           0.126442    0.040385
6        Start_Lng         7.880222e+05           0.118259    0.037772
7         Timezone         6.671669e+05           0.100122    0.031979
8     Numbered_Hwy         6.366256e+05           0.095539    0.030515
9   Sunrise_Sunset         4.976254e+05           0.074679    0.023852
10           Month         4.161307e+05           0.062449    0.019946
11     Day_of_Week         3.904844e+05           0.058600    0.018717
12       Start_Lat         3.793766e+05           0.056933    0.018184
13        Crossing         2.804289e+05           0.042084    0.013442
14            Hour         2.648745e+05           0.039750    0.012696
15     Humidity(%)         1.382641e+05           0.020749    0.006627
16  Temperature(F)         1.380495e+05           0.020717    0.006617
17            Stop         1.261388e+05           0.018930    0.006046
18        Junction         1.183501e+05           0.017761    0.005673
19    ramp_blocked         9.920884e+04           0.014888    0.004755

See the whole table with table.as_data_frame()

Trading off bias for variance produced significantly more accurate classifications of severe accidents at the expense of worse performance classifying level 3 accidents. Performance for the other classes was unchanged, and the model is still completely ignoring level 1 accidents. In practice, this is not as big a concern as it appears, as misclassifying an extremely minor accident as minor would not a very costly mistake to make. Results indicate that classes 3 and 4 are very similar, and emphasizes the importance of a next step to be discerning differences between these classes and engineering features that capture these. Text analysis of the description field is the likely scenario here.